#logo img{
    height: 45px;
    width: 45px;
}
#navbar ul li a{
    font-size: 1rem;
    margin: 1px 2px;
    padding:1px 4px;
    padding-bottom: 3px;
}
#home{

    height: 110px;
   padding: 50px 0px;
}
#home::before{
    height: 240px;
}
#home p{
    font-size: 12px;
}
#services{
    flex-direction: column ;
}
#services .box{
    padding: 4px;
    margin: 20px 1px;
    margin-bottom: 0px;
}
#services .box img{

    height: 240px;
     
}
#clients {
    display: inline;
    position: relative;
   flex-direction: row;
   height: 420px;
   width: 20%;
   margin-bottom: 60px;
}
 .clients-item{
        padding:1px 40px ;
        margin :1px 18px ;
    }
#clients img{
    height: 110px;
    padding: 0px 150px ;
}
.h-primary{
    font-size: 29px;
    padding: 19px 7px;
}
.btn{
font-size: 9px;
padding: 10px 5px;
}
#contect form{
    padding: 134px;
    width:70% ;
    font-size: 60px;
}
.container{
    padding: 0px 20px;
}